.jumbotron {
    text-align: center;
    background-color: grey;
    color: white;
    border-radius: 0;
    padding: 20px;
}

h3 {
  font-size: 13px;
}

.btn {
  background-color: blue;
  color: white;
}

.small-cards {
  background-color: blue;
  color: white;
}