.jumbotron {
    text-align: center;
    background-color: grey;
    color: white;
    border-radius: 0;
    padding: 20px;
  }

.col-2 {
  margin-left: 20px;
}  

#date-Two {
  font-size: 20px;
}

#date-Three {
  font-size: 20px;
}

#date-Four {
  font-size: 20px;
}

#date-Five {
  font-size: 20px;
}

#date-Six {
  font-size: 20px;
}